body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}
.container{
    padding: 20px 30px;
}
.form-group{
    display: flex;
    margin-bottom: 8px;
    align-items: flex-start;
}
.footer{

    display: flex;
    justify-content: flex-end;
}