#table-container {
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    border-collapse: collapse;
}
#form-container {
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    background-color: #f9f9f9;
}
#table-actions{
    margin: 10px auto;
    border-radius: 8px;
}